
@import "tailwindcss";


:root {
  --color-primary: #67dbda;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --color-twitter: #1DA1F2;
}

@keyframes moveRight {
  0% { transform: translateX(0); }
  50% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}


.animate-moveRight {
  animation: moveRight 1s ease-in-out infinite;
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-primary {
  color: var(--color-primary);
}

@media (min-width: var(--breakpoint-sm)) {
  .sm\:text-red { color: red; }
}
@media (min-width: var(--breakpoint-md)) {
  .md\:text-green { color: green; }
}
@media (min-width: var(--breakpoint-lg)) {
  .lg\:text-blue { color: blue; }
}


@layer utilities {
  .container {
    @apply px-[30px] mx-auto;
  }
  .element-center {
    @apply flex justify-center items-center;
  }
  .btn {
    @apply bg-[#42b0d1] hover:bg-[#8cdae4] transition-all duration-200;
  }
  .primary-color {
    @apply text-[#67dbda];
  }
}


body {
  font-family: "Roboto", sans-serif;
  background-color: #181e2a;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}
